
.bridge {
    color: rgb(15, 115, 222);
  }
.navbar{
    background-color:  rgb(28, 28, 46);
}  

.logo{
    font-size: 40px;
        font-weight: bold;
}
li{
    font-weight: 400;
    font-size: 20px;
}
.zindex{
    z-index: 100;
}